<footer class="page-footer font-small bg-light pt-3">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-4 offset-md-2">
        <label class="text-uppercase">Developers</label>
        <ul class="list-unstyled">
          <li>Hafael Thor Macêdo Ferreira</li>
          <li>Jorbr Freire</li>
        </ul>
      </div>
      <div class="col-md-4">
        <label class="text-uppercase">Links</label>
        <ul class="list-unstyled">
          <li><a href="https://github.com/hafaelthor/MassAquaponics">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright text-center pt-4">© 2019 MassAquaponics</div>
  </div>
</footer>
